.App {
  text-align: center;
  padding: 1rem 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.share_modal_container .ant-modal-title{
  font-size: 22px;
  font-weight: 800;
}
.share_modal_container .ant-modal-close{
  top: 22px !important;
  width: 32px !important;
  height: 32px !important;
  background-color: #F5F5F5;
  border-radius: 50%;
}

.list_table thead.ant-table-thead{
  display: none !important;
  background-color: red;
}
.list_header_table .ant-table-footer{
  padding: 0px !important;
}
.list_header_table .ant-table-thead .ant-table-selection{
  display: none !important;
}
.list_tables .ant-table-tbody{
  display: unset !important;
}
.list_header_table tr.ant-table-placeholder{
  display: none !important;
}

.table_collapse .ant-collapse-content-box{
  padding: 0px !important;
}
.list_table .ant-collapse-content-box{
  padding: 0px !important;
}
.list_header_table .ant-collapse-content-box{
  padding: 0px !important;
}

.table_collapse .ant-collapse-header-text{
 text-align: left;
}
.add_table_container .ant-table-tbody .ant-table-selection{
  display: none !important;
}
.table_collapse_container{
  background-color: #FAC3FF !important;
  text-align: left;
}

.list_table .ant-table-content{
  z-index: 0;
  position: relative;
}
.add_table_container .add_table_wrapper thead.ant-table-thead{
  display: none !important;
}

.filter_input_container .ant-select-selector{
  width: 90px;
  height: 30px;
  text-align: left;
  border-radius: 60px;
}

.search_input{
  width: 200px;
  height: 36px;
  border-radius: 60px;
}

.input_label label{
  font-size: 12px !important;
  font-weight: 600 !important;
  color: #00000099 !important;
}

.text-editor-container {
  position: relative;
}

/* Override toolbar positioning */
.ql-toolbar.ql-snow {
  position: relative;
  top: 162px;
  left: 0;
  width: 100%;
  border-radius: 0 0 4px 4px; /* Optional rounded corners */
  z-index: 1;
  text-align: left;
  border: none !important;
  background: #F1F1F15C;
}

/* Adjust the editor content area */
.ql-container.ql-snow {
  border-radius: 4px 4px 0 0; /* Optional rounded corners */
  padding-bottom: 50px; /* Prevent content overlap with toolbar */
}

.ql-container.ql-snow {
  border: 1px solid #00000021 !important;
  border-radius: 5px;
  min-height: 120px;
  background: #F1F1F15C;
}
.ql-editor.ql-blank{
  min-height: 120px;
  background: #F1F1F15C;
}
.ql-editor{
  min-height: 120px;
  background: #F1F1F15C;
}
.file_upload_container{
  width: 100% !important;
}
.ant-upload-wrapper .ant-upload-select{
  width: 100% !important;
}
.ant-modal-content{
  padding: unset !important;

}
.ant-modal-header{
  padding: 1rem 0rem;
  border-bottom: 1px solid #0000001A;
}

.ant-modal-title{
  padding: 1rem 1rem !important;
  border-bottom: 1px solid #0000001A;
}

.ant-modal-close{
  top: 15px;
}

.scroll_container::-webkit-scrollbar{
  display: none;
}